In [1]:
a = []
b = ()
print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [2]:
a.append(1)
print(a)

[1]

In [4]:
b.append(1)
print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
b = (1,2,3)
print(b)

(1, 2, 3)

In [6]:
a[0] = 10
print(a[0])

10

In [7]:
# b[0] = 10
print(b[0])

1

In [15]:
a = [1,2(3,4,5),6,7]
a[0] = 10
a[1] = 20
# a[2] = 30
a[3] = 60
a[4] = 70
print(type(a[2]))
a[2][0] = 30
print(a)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\hi\AppData\Local\Temp\ipykernel_9096\2575326996.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  a = [1,2(3,4,5),6,7]

TypeError: 'int' object is not callable

In [16]:
b = (1,2,[3,4,5],6,7)
b[0] = 10
b[1] = 20
b[2] = 30
b[3] = 60
b[4] = 70

TypeError: 'tuple' object does not support item assignment

In [12]:
b = (1,2,[3,4,5],6,7)
print(b[2])
print(type(b[2]))

print(b[2][0])
b[2][0] = 30
print(b[2][0])
print(b)

[3, 4, 5]
<class 'list'>
3
30
(1, 2, [30, 4, 5], 6, 7)

In [ ]:
문1) 다음 데이터에서 각각 두번째 자리의 값만 출력 할 수 있도록 코드를 작성하세요. 데이터 > [(1,'대'),(2,'한'),(3,'민'),(4,'국')] 출력 예시 > 대 한 민 국

In [34]:
a = [(1,'대'),(2,'한'),(3,'민'),(4,'국')]
print((a[0][1]),(a[1][1]),(a[2][1]),(a[3][1]))

대 한 민 국

In [ ]:
문2) 다음 데이터에서 3번째 자리의 값을 리스트 자료형으로 '1 ~ 9' 까지 나열되도록 출력하세요. 데이터 > [1,2,3,4,5] 출력 예시 > [1,2,[1,2,3,4,5,6,7,8,9],4,5]

In [36]:
a = [1,2,3,4,5]
a[2] = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[2])

[1, 2, [1, 2, 3, 4, 5, 6, 7, 8, 9], 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
문자열 = ''
for d1 in [(1,'대'),(2,'한'),(3,'민'),(4,'국')]:
     문자열 += d1[1] + ' '
print(문자열)

대 한 민 국

In [49]:
데이터 = [1,2,3,4,5]
배열 = []
for 값 in range (1,10):
    배열.append(값)
    
데이터[2] = 배열
print(데이터)

[1, 2, [1, 2, 3, 4, 5, 6, 7, 8, 9], 4, 5]

In [8]:
for y in range(5):
    행 = ''
    for x in range(5):
        행 += 'O' if x < (y + 1) else 'X'
        print(행)

O
OX
OXX
OXXX
OXXXX
O
OO
OOX
OOXX
OOXXX
O
OO
OOO
OOOX
OOOXX
O
OO
OOO
OOOO
OOOOX
O
OO
OOO
OOOO
OOOOO

In [7]:
for y in range(5):
    행 = ''
    for x in range(5):
        행 += 'O' if x <= (4 - y) else 'X'
        print(행)

O
OO
OOO
OOOO
OOOOO
O
OO
OOO
OOOO
OOOOX
O
OO
OOO
OOOX
OOOXX
O
OO
OOX
OOXX
OOXXX
O
OX
OXX
OXXX
OXXXX

In [6]:
for y in range(5):
    행 = ''
    for x in range(5):
        행 += 'O' if x >= (4 - y) else 'X'
        print(행)

X
XX
XXX
XXXX
XXXXO
X
XX
XXX
XXXO
XXXOO
X
XX
XXO
XXOO
XXOOO
X
XO
XOO
XOOO
XOOOO
O
OO
OOO
OOOO
OOOOO

In [13]:
for y in range(5):
    행 = ''
    for x in range(5):
        행 += 'O' if x > (y - 1) else 'X'
        print(행)

O
OO
OOO
OOOO
OOOOO
X
XO
XOO
XOOO
XOOOO
X
XX
XXO
XXOO
XXOOO
X
XX
XXX
XXXO
XXXOO
X
XX
XXX
XXXX
XXXXO

In [12]:
for y in range(9):
    행 = ''
    for x in range(9):
        if y == 4:
            행 += 'O'
        elif (y == 0 or y == 8) and x == 4:
            행 += 'O'
        elif (y == 1 or y == 7) and (3 <= x <= 5):
            행 += 'O'
        elif (y == 2 or y == 6) and (2 <= x <= 6):
            행 += 'O'
        elif (y == 3 or y == 5) and (1 <= x <= 7):
            행 += 'O'
        else:
            행 += 'X'
        
    print(행)

XXXXOXXXX
XXXOOOXXX
XXOOOOOXX
XOOOOOOOX
OOOOOOOOO
XOOOOOOOX
XXOOOOOXX
XXXOOOXXX
XXXXOXXXX

In [20]:
문1 = [
    [True,  False,  False,  False,  False],
    [True,  True,   False,  False,  False],
    [True,  True,   True,   False,  False],
    [True,  True,   True,   True,   False],
    [True,  True,   True,   True,   True]
    ]
문2 = [
    [True,  True,   True,   True,   True],
    [True,  True,   True,   True,   False],
    [True,  True,   True,   False,  False],
    [True,  True,   False,  False,  False],
    [True,  False,  False,  False,  False]
    ]
문3 = [
    [False, False,  False,  False,  True],
    [False, False,  False,  True,   True],
    [False, False,  True,   True,   True],
    [False, True,   True,   True,   True],
    [True,  True,   True,   True,   True]
    ]
문4 = [
    [True,  True,   True,   True,   True],
    [False, True,   True,   True,   True],
    [False, False,  True,   True,   True],
    [False, False,  False,  True,   True],
    [False, False,  False,  False,  True]
    ]

In [21]:
def 실행기(리스트):
    for y in 리스트:
        행 = ''
        for x in y:
            행 += 'O' if x else 'X'
        print(행)

In [22]:
실행기(문1)

OXXXX
OOXXX
OOOXX
OOOOX
OOOOO

In [23]:
실행기(문2)

OOOOO
OOOOX
OOOXX
OOXXX
OXXXX

In [24]:
실행기(문3)

XXXXO
XXXOO
XXOOO
XOOOO
OOOOO

In [25]:
실행기(문4)

OOOOO
XOOOO
XXOOO
XXXOO
XXXXO

In [28]:
문5 = [
    [False, False,  False,  False,  True,   False,  False,  False,  False],
    [False, False,  False,  True,   True,   True,   False,  False,  False],
    [False, False,  True,   True,   True,   True,   True,   False,  False],
    [False, True,   True,   True,   True,   True,   True,   True,   False],
    [True,  True,   True,   True,   True,   True,   True,   True,   True],
    [False, True,   True,   True,   True,   True,   True,   True,   False],
    [False, False,  True,   True,   True,   True,   True,   False,  False],
    [False, False,  False,  True,   True,   True,   False,  False,  False],
    [False, False,  False,  False,  True,   False,  False,  False,  False]
    ]

In [29]:
실행기(문5)

XXXXOXXXX
XXXOOOXXX
XXOOOOOXX
XOOOOOOOX
OOOOOOOOO
XOOOOOOOX
XXOOOOOXX
XXXOOOXXX
XXXXOXXXX