In [ ]:
문1) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

자동차번호 = '10라 3709'
코드를 작성하세요.

In [2]:
자동차번호 = '10라 3709'
print(자동차번호[-4:])
3709

3709

3709

In [ ]:
문4) 다음 리스트에는 4개의 영화 제목이 입력되어있습니다. "슈퍼맨"는 몇번째 위치(인덱스)에 있는지 출력하세요.

영화 = ['스파이더맨', '배트맨', '슈퍼맨', '원펀맨']
코드를 작성하세요.

In [1]:
영화 = ['스파이더맨', '배트맨', '슈퍼맨', '원펀맨']
cnt = 0
for item in 영화:
    if item == '슈퍼맨':
        break
    cnt += 1
print(f"슈퍼맨의 인덱스는 {cnt} 입니다.")

슈퍼맨의 인덱스는 2 입니다.

In [ ]:
문6) 다음 이름과 가격을 딕셔너리 자료형으로 담아서 출력하세요.

#이름    가격
#메로나    1000
#폴라포    1200
#투게더    4000

In [3]:
아이스크림 = {'메로나' : 1000, '폴라포' : 1200, '투게더' : 4000 }

print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '투게더': 4000}

In [ ]:
문8) 다음 코드를 for문으로 변경하여 출력하세요.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [ ]:
for 변수 in [10, 20, 30]:
    print(변수)

In [ ]:
문9) 리스트에는 네 개의 문자열이 있습니다. for문을 사용해서 다음과 같이 출력하세요.

리스트 데이터
["가", "나", "다", "라"]
출력
cmd
나
다
라

In [ ]:
리스트 = ["가", "나", "다", "라"]

for 문자 in 리스트[1:]:
    print(문자)